* {
    box-sizing: border-box;
    font: 600 30px Inter,sans-serif;
}

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    align-items: space-between;
    margin: 0%;
    padding: 0%;
}

.splash-page {
    padding-bottom: 1.5%;

    display: flex;
    flex-flow: column
}

.topbar {
    flex: 10%;

    display: flex;
    flex-flow: row wrap;
}

.logo {
    font-size: 60px;
    padding-left: 5%;
    padding-top: 2%;
    flex: 65%;

    display: flex;
    justify-content: flex-start;
}

.navbar {
    flex: 35%;

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    padding: 2%;
    color: black;
    text-decoration: none;
}

.nav-button:hover {
    border-bottom: solid;
}

#resume {
    color: white;
    padding: 2%;
    background-color: #2E2E2E;
    border-radius: 5px;
}

.intro {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 30%;
    flex: 90%;

    display: flex;
    flex-flow: column;
}

.name {
    padding-bottom: 5%;
    font-size: 60px;
    display: flex;
}

.description {
    display: flex;
    flex-flow: column;
}

.d1 {font-size: 40px;}

.d2 {font-size: 40px;}

.arrow {
    padding: 3%;

    display: flex;
    justify-content: center;
    font-size: 60px;
}

.portfolio {
    padding-left: 5%;
    padding-right: 5%;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.proj-col {
    width: 30%;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.proj-names {
    margin-bottom: 2%;
}

.proj-display {
    margin-bottom: 5%;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.proj-image {
    background-color: lightgray;
    border-radius: 20px;
    margin-bottom: 2%;
    padding-top: 25%;
    padding-bottom: 25%;
    color: darkgray;
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.proj-name {
    background-color: lightgray;
    border-radius: 20px;
    margin-bottom: 2%;
    padding: 5%;
}

.proj-description {
    background-color: lightgray;
    border-radius: 20px;
    padding: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.contacts {
    background-color: #2E2E2E;
    border-radius: 25px;
    margin: 0%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 5%;

    display: flex;
    flex-flow: column;
    justify-items: flex-start;
}

.contacts-title {
    color: white;
    font-size: 20px;

    display: flex;
    justify-content: flex-start;
}

.email {
    color: white;
    font-size: 15px;

    display: flex;
    justify-content: flex-start;
}